.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-list .task-item {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  background-color: hsl(0deg 0% 0% / 0.1);
}