/* header.css */

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#header #nav {
    overflow: hidden;
    border-bottom: 1px dotted hsl(0deg 0% 0% / 0.2);
    padding: 0.5em;
    font-family: 'Roboto', sans-serif;
}

#header #nav ul {
    list-style: none;
    display: flex;
    gap: 2em;
    margin: 0;
    align-items: baseline;
}

#header #nav ul li {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

#header #nav ul .nav-item:hover {
    background-color: hsl(0deg 0% 0% / 0.1);
    cursor: pointer;
}

#header #nav ul .nav-item:first-child{
    margin-right: auto;
    font-size: 1.5em;
}